body {
    margin: 0;
    padding: 0;
    background-color: #393041;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    max-width: 1200px;
    height: 80vh;
    background-color: #f1f0ec;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    padding-bottom: 40px;
    position: relative;
    
    /* Existing box-shadow styles */
    box-shadow:
    inset 0 0 0 8px #b4a073,
    inset 0 0 0 16px #f1f0ec, 
    inset 0 0 0 19px #b4a073; 
    
}

.container::before {
  content: "";
  position: absolute;
  top: 25px;  /* offset to stay inside */
  bottom: 25px;
  left: 25px;
  right: 25px;
  border-left: 4px dotted #b4a073;
  border-right: 4px dotted #b4a073;
  pointer-events: none;
  box-sizing: border-box;
}

.header-space {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.title-area {
    flex-grow: 1;
    padding-right: 20px;
}

.title-area h1 {
    margin: 0;
    font-family: 'Ariel', sans-serif;
    font-size: 2rem;
    color: #282828;
    font-weight: 600;
}


.filter-button-space {
    width: 95%;
    display: flex;
    justify-content: right;
    margin-bottom: 10px;
}

.filter-button {
    padding: 10px 20px;
    background: linear-gradient(to bottom, #282828 50%, #0f0f0f 50%);
    color: #f0efeb;
    border: 2px solid #b4a073;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filter-button:hover {
    background: linear-gradient(to bottom, #282828 50%, #0f0f0f 50%);
    color: #b4b4b4;
    border: 2px solid #b4a073;
    border-radius: 6px;
}

/* Image Grid*/

.grid-space {
    width: 90%;
    /* Remove fixed height, allow content to determine size */
    background-color: #c8c7c7;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
    grid-auto-rows: 90px;  /* Set a fixed row height */
    gap: 10px;
    padding: 1rem;
    overflow: auto;
    flex-grow: 1;  /* Allow grid to expand and fill available space */
}

.grid-space > * {
  height: 100%;
  overflow: hidden;
}


.image-container {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease;
}

/*element icons*/
.element-icons {
    position: absolute;
    top: 0px;
    right: 3px;
    display: flex;
    gap: 0px;
}

.element-icon {
    width: 25px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/*functionalities*/
